*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #263238;
}
.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
}
header h1{
    font-size: 27px;
    text-decoration: underline;
}
header p{
    margin-top: 10px;
}

.inputs{
    margin-top: 10px;
}

.inputs input{
    border-radius: 4px;
    width: 100%;
    padding: 8px ;
    outline: none;
    font-size: 16px;
    border: 1px solid #263238;
}
.inputs button{
    border-radius: 4px;
    width: 100%;
    padding: 8px ;
    outline: none;
    border:none;
    color: #fff;
    background-color: #263238;
    margin-top: 15px;
    font-size: 16px;
    letter-spacing: 2px;
    opacity: 0.7;
    pointer-events: none;
}
.inputs button.active{
    opacity: 1;
    pointer-events: auto;
}
.display{
    text-align: center;
    margin-top: 10px;
    display: none;
}
.display span{
    color: #900c3f;
}